# IntelliJ IDEA
.idea/
*.iml

# Maven
target/

# Default ignored files
/shelf/
/workspace.xml

# HTTP Client requests
/httpRequests/

# Query files
/queries/

# Data sources
/dataSources/
/dataSources.local.xml